body {
  background-color: black
}

form {
  text-align: center;
  background-color: burlywood;
}

form table {
  margin: 0 auto;
}

#time {
  text-align: center;
  color: darkgray;
  font-size: 50px;
}

input[type=button] {
  background: #707070;
  background-image: -webkit-linear-gradient(top, #707070, #3b3b3b);
  background-image: -moz-linear-gradient(top, #707070, #3b3b3b);
  background-image: -ms-linear-gradient(top, #707070, #3b3b3b);
  background-image: -o-linear-gradient(top, #707070, #3b3b3b);
  background-image: linear-gradient(to bottom, #707070, #3b3b3b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-width: 0px;
  line-height: 0.8;
}

input[type=button]:hover {
  background: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #4a4a4a);
  background-image: -moz-linear-gradient(top, #808080, #4a4a4a);
  background-image: -ms-linear-gradient(top, #808080, #4a4a4a);
  background-image: -o-linear-gradient(top, #808080, #4a4a4a);
  background-image: linear-gradient(to bottom, #808080, #4a4a4a);
  text-decoration: none;
}

#description {
  text-align: center;
  color: #848484;
  margin-top: 15%;
  margin-left: 1%;
  font-size: 30px;
}