body {
  background-color: black
}

form {
  text-align: center;
  background-color: burlywood;
}

form table {
  margin: 0 auto;
}

#time {
  text-align: center;
  color: darkgray;
  font-size: 50px;
}

#description {
  text-align: center;
  color: #848484;
  margin-top: 15%;
  margin-left: 1%;
  font-size: 30px;
}
